In [1]:
import pandas as pd

In [2]:
op = pd.read_excel(r"Route.xlsm",sheet_name="operations")

In [3]:
mc = pd.read_excel(r"Route.xlsm",sheet_name="machines")

In [22]:
lb = pd.read_excel(r"Route.xlsm",sheet_name="labors")

In [25]:
lb[lb["operation id"]==87]

    id        code description  operation id
66  67  LB-GENTC00   عامل معين            87

In [10]:
op[op["id"]==2]

    id  code description department  department id
37   2  ASM1  تجميع يدوي  DP-WLD001              6

In [11]:
mc[mc["operation id"]==2]

   id        code               description  operation id
0   1  MC-ASPI000  Italian Prop.تجميع داخلي             2

In [40]:
df = pd.merge(mc,lb,on="operation id",how="outer")

In [41]:
df_merged = pd.merge(df,op,left_on = "operation id", right_on = "id")

In [42]:
df_merged[df_merged["operation id"]==87]

,id_x,code_x,description_x,operation id,id_y,code_y,description_y,id,code,description,department,department id
189,NaN,NaN,NaN,87,67,LB-GENTC00,عامل معين,87,PACK,تغليف,DP-PACKING,28

In [45]:
df_merged.to_excel("opmc.xlsx")