In [1]:
import pandas as pd

In [2]:
op = pd.read_excel(r"Route.xlsm",sheet_name="operations")

In [3]:
mc = pd.read_excel(r"Route.xlsm",sheet_name="machines")

In [22]:
lb = pd.read_excel(r"Route.xlsm",sheet_name="labors")

In [25]:
lb[lb["operation id"]==87]

    id        code description  operation id
66  67  LB-GENTC00   عامل معين            87

In [10]:
op[op["id"]==2]

    id  code description department  department id
37   2  ASM1  تجميع يدوي  DP-WLD001              6

In [11]:
mc[mc["operation id"]==2]

   id        code               description  operation id
0   1  MC-ASPI000  Italian Prop.تجميع داخلي             2

In [40]:
df = pd.merge(mc,lb,on="operation id",how="outer")

In [41]:
df_merged = pd.merge(df,op,left_on = "operation id", right_on = "id")

In [42]:
df_merged[df_merged["operation id"]==87]

,id_x,code_x,description_x,operation id,id_y,code_y,description_y,id,code,description,department,department id
189,NaN,NaN,NaN,87,67,LB-GENTC00,عامل معين,87,PACK,تغليف,DP-PACKING,28

In [45]:
df_merged.to_excel("opmc.xlsx")

In [47]:
df1 = df_merged[:10]

In [48]:
df2 = df_merged[10:20]

In [49]:
df1.shape

(10, 12)

In [50]:
df2.shape

(10, 12)

In [51]:
dff = df1.append(df2)

In [52]:
dff.shape

(20, 12)

In [30]:
import pandas as pd

In [31]:
df1 = pd.read_excel("Route.xlsm",sheet_name="Item1",header=2)

c:\Users\abdallah.ashry\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [32]:
df1.head()

,item code,item description,material description,std route,copy route,Column2,dept1,process1,machine1,no1,...,machine82,dept9,process9,machine9,no9,machine92,dept10,process10,machine10,no10
0,6221177320898,Spacer Tube L=3.568m (880/122),-,NaN,NaN,NaN,دهان غمر,دهان غمر,فـــرن دهـان أحمر,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4221177315555,Spacer Tube L=3566 mm,مواسير مستديرة 1 × 2.5 مم × 5.75 م,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005030065751,مواسير مستديرة 1 × 2.5 مم × 5.75 م,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002040067591,شرائح صاج اسود 102 مم سمك 2.5 مم صلب 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002060003272,صاج لفف ساخن 2.5 مم × 1.500 م صلب 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df2 = pd.read_excel("Route.xlsm",sheet_name="std routing")

c:\Users\abdallah.ashry\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [34]:
df2.head()

,std route,Column2,dept1,process1,machine1,no1,Column1,dept2,process2,machine2,...,machine82,dept9,process9,machine9,no9,machine92,dept10,process10,machine10,no10
0,1,NaN,دهان غمر,دهان غمر,فـــرن دهـان أحمر,1,NaN,التغليف,تغليف,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# merge 
process = pd.merge(df1,df2, on="std route",how= "right",suffixes=('x', ''))

In [40]:
process.dropna(axis=1)

,item code,item description,material description,std route,dept1,process1,machine1,no1,dept2,process2,no2
0,4221177315555,Spacer Tube L=3566 mm,مواسير مستديرة 1 × 2.5 مم × 5.75 م,1.0,دهان غمر,دهان غمر,فـــرن دهـان أحمر,1,التغليف,تغليف,1

In [1]:
pth ="mails.txt"

In [18]:
  mails_to = []
  mails_cc = []
  with open("mails.txt","r") as file:
      for line in file.readlines():
          if line.strip().lower() == "to":
              to_lst = True
          if line.strip().lower() == "cc":
              to_lst = False

          if line.strip().lower().endswith("@acrow.co"):
              print(line)
              if to_lst:
                  mails_to.append(line.strip().lower())
              else:
                  mails_cc.append(line.strip().lower())

  mail_to_str = ""
  for x in mails_to:
      mail_to_str += x + ";"
  mail_cc_str = ""
  for y in mails_cc:
      mail_cc_str += y + ";"

mohamed.gaafer@acrow.co

Mahmoud.Shaban@Acrow.co

Abdallah.Ashry@Acrow.co

fatma.ahmed@Acrow.co

Hossam.Ahmed@Acrow.co

mostafa.dahy@Acrow.co

abdelrahman.amer@Acrow.co

ahmed.abdalkareem@acrow.co

Ahmed.Ashraf@Acrow.co

ahmed.shabana@Acrow.co

ashraf.abdelsatar@Acrow.co

hussien.elsakary@Acrow.co

ibrahim.elsayed@Acrow.co

mahmoud.abdelrasoul@Acrow.co

mahmoud.naser@Acrow.co

Mohamed.Elhussainy@acrow.co

mostafa.dahy@Acrow.co

mostafa.sabry@acrow.co

ramadan.selim@Acrow.co

shady.bakr@Acrow.co

somaya.abdelkader@Acrow.co

Yahia.Hamdy@Acrow.co

In [14]:
mails_to

['mohamed.gaafer@acrow.co', 'mahmoud.shaban@acrow.co']

In [15]:
mails_cc

['abdallah.ashry@acrow.co',
 'fatma.ahmed@acrow.co',
 'hossam.ahmed@acrow.co',
 'mostafa.dahy@acrow.co',
 'abdelrahman.amer@acrow.co',
 'ahmed.abdalkareem@acrow.co',
 'ahmed.ashraf@acrow.co',
 'ahmed.shabana@acrow.co',
 'ashraf.abdelsatar@acrow.co',
 'hussien.elsakary@acrow.co',
 'ibrahim.elsayed@acrow.co',
 'mahmoud.abdelrasoul@acrow.co',
 'mahmoud.naser@acrow.co',
 'mohamed.elhussainy@acrow.co',
 'mostafa.dahy@acrow.co',
 'mostafa.sabry@acrow.co',
 'ramadan.selim@acrow.co',
 'shady.bakr@acrow.co',
 'somaya.abdelkader@acrow.co',
 'yahia.hamdy@acrow.co']