In [1]:
import pandas as pd

In [2]:
pth = r"C:\Users\abdallah.ashry\source\repos\Routing sheet project\data\pre data\Copy of routing.xlsx"

In [34]:
df = pd.read_excel(pth,sheet_name="Sheet1")

In [41]:
df.head()

  operation department    resource
0       CTW  DP-ASM004  LB-GENTC00
1      PCUT  DP-SLT000  LB-GENTC00
2      SAW7  DP-THR000  LB-GENTC00
3      DRL7  DP-THR000  LB-GENTC00
4      THR7  DP-THR000  LB-GENTC00

In [11]:
operation_sheet = pd.read_excel("data\operations.xlsx")

In [40]:
operation_sheet.head()

   id  code          description  department  department id
0   1   ASM           تجميع يدوي  DP-PACKING             28
1   2  ASM1           تجميع يدوي   DP-WLD001              6
2   3  ASM5                تدكيك   DP-AR1005             15
3   4  ASM7           تجميع يدوي   DP-THR000             17
4   5  ASMI  تجميع يدوي بالاجزاء   DP-INTPTS              3

      id  code          description  department  department id
0      1   ASM           تجميع يدوي  DP-PACKING             28
1      2  ASM1           تجميع يدوي   DP-WLD001              6
2      3  ASM5                تدكيك   DP-AR1005             15
3      4  ASM7           تجميع يدوي   DP-THR000             17
4      5  ASMI  تجميع يدوي بالاجزاء   DP-INTPTS              3
..   ...   ...                  ...         ...            ...
135  136  WLA2       لحام اوتوماتيك   DP-PRP002              7
136  137  WLA5       لحام اوتوماتيك   DP-AR1005             15
137  138  WLA6       لحام أوتوماتيك   DP-AR2005             16
138  139  WLA7        لحام اتوماتيك   DP-THR000             17
139  140  WLD1            لحام يدوي   DP-WLD001              6

[140 rows x 5 columns]

In [42]:
operation_sheet[operation_sheet["code"]=="ASM1"]["id"].to_list()[0]

2

In [43]:
lst_of_machines = []
for i,v in df.iterrows():
    try:
        op_id = operation_sheet[operation_sheet["code"]==v['operation']]["id"].to_list()[0]
    except:
        op_id = v['operation']
    machine_dict = {
        "code":v['resource'],
        "operation":op_id,
    }
    lst_of_machines.append(machine_dict)
    print(v["resource"])

LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-DALTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-WLDTC00
LB-WLDTC00
LB-WLDTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-GRDTC00
LB-AGRDTC0
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-WLDTC00
LB-WLDTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-GENTC00
LB-WLDTC00

In [44]:
lst_of_machines[2]

{'code': 'LB-GENTC00', 'operation': 111}

In [31]:
machine_df = pd.DataFrame(lst_of_machines)

In [38]:
machine_df.to_excel("data\pre data\laborrelation.xlsx")

In [39]:
machine_df.head(-10)

           code  operation
0    MC-SWWO000         22
1    MC-SLTP000         89
2    MC-SWSR000        111
3    MC-DRSR000         31
4    MC-THJA000        133
..          ...        ...
132  MC-MWSR000        129
133  MC-MWSR000        147
134  MC-RVCB000        100
135  MC-AWVC000        137
136  MC-AWPC007        137

[137 rows x 2 columns]

In [1]:

import xlwings as xw

In [1]:
class Person:
    def __init__(self,name):
        self.name = name
lst = []
lst.append(Person("Abdalla"))
lst.append(Person("Abdalla"))

In [2]:
lst

In [3]:
st = set(lst)

In [4]:
st

{<__main__.Person at 0x1b9a09471f0>, <__main__.Person at 0x1b9a09472b0>}